[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-telegram-bot = "*"
"python-telegram-bot[callback-data]" = "*"
humanize = "*"
apscheduler = "*"
python-dateutil = "*"
sqlalchemy = "*"

[dev-packages]
assertpy = "*"
